@model ICollection<Halls>
@{
    ViewBag.Title = "Залы";
}
<h1>Все Залы</h1>


@if (Model.Any())
{
    <a asp-action="AddHalls"
       class="btn btn-primary mb-3" style="width:auto">
        Добавить новый зал
    </a>

    <div class="row">

        @foreach (var hall in Model)
        {
            <div class="col-sm-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@hall.HallsName</h5>
                        <form asp-action="Delete" asp-route-id="@hall.HallsId" method="post">

                            <a asp-action="EditHalls" asp-controller="Halls" asp-route-id="@hall.HallsId" class="btn btn-primary btn-sm mt-2">Редактирование</a>
                            <partial name="Details" model="@hall" />
                            
                            <button type="submit" class="btn btn-danger btn-sm mt-2"
                                    onclick="return confirm('Вы уверены что хотите удалить данный зал: @hall.HallsName')">
                                Удаление
                            </button>

                        </form>
                        
                    </div>
                </div>
            </div>
        }

    </div>

}
else
{
    <div class="card-tableNew">
        <div class="card-header">
            Еще не добавлены залы
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Используйте кнопку ниже, чтобы добавить залы
            </h5>
            <a class="btn btn-primary" style="width:auto"
           asp-action="AddHalls">
                Добавить залы
            </a>
        </div>
    </div>
}
