@model ICollection<Halls>
@{
    ViewBag.Title = "Залы";
}
<h1>Все Залы</h1>


@if (Model.Any())
{
    <a asp-action="AddHalls"
       class="btn btn-primary mb-3" style="width:auto">
        Добавить новый зал
    </a>
    <div class="card-tableNew">
        <table class="table table-striped">
            <thead>
                <tr>

                    <th>Зал</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hall in Model)
                {
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <tr>

                        <td>@hall.HallsName</td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@hall.HallsId" method="post">

                                <a asp-action="EditHalls" asp-controller="Halls" asp-route-id="@hall.HallsId" class="btn btn-primary">Редактирование</a>

                                <button type="submit" class="btn btn-danger" style="  margin-top: 5px; margin-bottom: 5px;"
                                        onclick="return confirm('Вы уверены что хотите удалить данный зал: @hall.HallsName')">
                                    Удаление
                                </button>
                                <button class="btn btn-primary" type="button" data-toggle="collapse" ; data-target="#collapse@(hall.HallsId)" aria-expanded="false" aria-controls="collapse@(hall.HallsId)">
                                    Подключенные компьютеры
                                </button>
                            </form>
                        </td>
                    </tr>
                    @if (hall.Computers != null)
                    {
                        <tr>
                            <td colspan="3">
                                <div class="collapse" id="collapse@(hall.HallsId)">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>

                                                <th>Компьютер</th>
                                                <th>Комплектующие</th>
                                                <th>Дата последнего обслуживания</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var computer in hall.Computers)
                                            {
                                                <tr>

                                                    <td>@computer.ComputerName</td>
                                                    <td style="white-space: pre-wrap">@computer.CompanyName</td>
                                                    <td>@computer.DateOfLastService.ToString("dd.MM.yyyy")</td>
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {

                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="card-tableNew">
        <div class="card-header">
            Еще не добавлены залы
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Используйте кнопку ниже, чтобы добавить залы
            </h5>
            <a class="btn btn-primary" style="width:auto"
           asp-action="AddHalls">
                Добавить залы
            </a>
        </div>
    </div>
}
