@model IEnumerable<WebAppMain.Models.Services>
@{
    ViewBag.Title = "Все Услуги";
}

<div class="main-button">
    <a asp-action="AddServices"
       style="width:auto">
        Добавить новую услугу
    </a>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="most-popular">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="heading-section">
                            <h4>Услуги</h4>
                        </div>
                        <div class="row">
                            @foreach (var services in Model)
                            {
                                <div class="col-lg-3 col-sm-6">
                                    <div class="item">
                                        <h4>@services.NameOfTheService<br><span class="mb-2">Цена: @services.PricePerService руб.</span></h4>
                                        <div class="main-border-button">
                                            <form asp-action="Delete" asp-route-id="@services.ServicesId" method="post">

                                                <a asp-action="EditServices" asp-controller="Services" asp-route-id="@services.ServicesId">Редактирование</a>
                                                <button type="submit" class="btn btn-danger btn-sm"
                                                        onclick="return confirm('Вы уверены что хотите удалить данную услугу: @services.NameOfTheService')">
                                                    Удаление
                                                </button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>